body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.background-image {
    background-image: url('background.jpg'); /* 배경 이미지 경로 */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* 원하는 높이로 조정 */
}

.logo-container {
    text-align: left;
    margin-right: 50px;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

.logo-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.logo-container p {
    font-size: 14px;
    color: #888;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    position: absolute;
    right: 50px; /* 우측 위치 */
    top: 250px;
}

.input-id, .input-pw {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
