body {
    margin: 0px;
    padding: 0px;
}

.wrap-login, .wrap-contents, .wrap-notice, .footer {
    padding: 20px;
}

.login-box {
    height: 320px;
}

.highlight {
    font-weight: bold;
    color: #f00;
}
